@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

html{
	background-color: var(--base-color-bright-white);
	font-family: 'Roboto Condensed', sans-serif;
}
body{
	margin: 0;
}
main{
	margin-top: 4em;
}
code{
	display: block;
	padding: 4em;
	border-radius: 0.25em;
	background-color: var(--base-color-white);

	white-space: pre-line;
}
nav{
	background-color: var(--base-color-black);
}
nav svg{
	height: 2em;
	fill: var(--base-color-white);
}
@media(max-width:768px){
	main{
		padding: 1em 2em;
	}
	nav{
		position: fixed;
		top: 0;
		height: 4em;
		width: 100vw;
		text-align: center;
	}
	nav svg{
		margin: 1em;
	}
	nav ul{
		position: fixed;
		top: 0;
		left: -100vw;
	}
	nav ul a{
		color: var(--base-color-bright-white);
	}
}
@media(min-width:769px){
	main{
		padding: 1em 4em;
	}
	nav{
		height: 4em;
		padding: 0 6em;
	}
	nav svg{
		float: left;
		margin: 1em 2em;
		fill: var(--base-color-gray);
		transition: fill 250ms;
	}
	nav ul{
		float: right;
		height: 2em;
		margin: 0;
	}
	nav ul li{
		float: left;
		list-style: none;
	}
	nav ul li a{
		display: block;
		padding: 0 2em;
		color: var(--base-color-gray);
		text-decoration: none;
		line-height: 4em;
		transition: color 250ms;
	}
	nav a:hover{
		color: var(--base-color-bright-white);
	}
	nav svg:hover{
		fill: var(--base-color-bright-white);
	}
}