@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
html{
	background-color: var(--base-color-black);
	font-family: 'Roboto Condensed', sans-serif;
}
body{
	margin: 0;
}
.preload *{
	transition: none !important;
	-webkit-transition: none !important;
	-moz-transition: none !important;
	-ms-transition: none !important;
	-o-transition: none !important;
}
main{
	box-sizing: border-box;
	background-color: var(--base-color-white);
}
nav{
	position: fixed;
	top: 0;
	height: 4em;
	width: 100vw;
	box-sizing: border-box;
	padding: 0 6em;
	
	background-color: var(--base-color-black);
}
nav svg{
	height: 2em;
	fill: var(--base-color-gray);
}
nav ul li a{
	display: block;
	text-decoration: none;
	color: var(--base-color-gray);
}
code{
	display: block;
	padding: 4em;
	border-radius: 0.25em;
	background-color: var(--base-color-white);
	white-space: pre-line;
}
footer{
	padding: 2em;
	color: var(--base-color-white);
	background-color: var(--base-color-black);
}
@media(max-width:768px){
	main{
		padding: 6em 2em 2em;
	}
	nav{
		text-align: center;
	}
	nav svg{
		margin: 1em;
		fill: var(--base-color-bright-white);
	}
	nav ul{
		position: fixed;
		top: 0;
		left: -100vw;
	}
	nav ul a{
		color: var(--base-color-bright-white);
	}
}
@media(min-width:769px){
	main{
		padding: 6em 4em 2em;
	}
	nav svg{
		margin: 1em 2em;
		transition: fill 250ms;
	}
	nav ul{
		float: right;
		height: 2em;
		margin: 0;
	}
	nav ul li{
		float: left;
		list-style: none;
	}
	nav ul li a{
		display: block;
		padding: 0 2em;
		text-decoration: none;
		line-height: 4em;
		transition: color 250ms;
	}
	nav a:hover{
		color: var(--base-color-bright-white);
	}
	nav svg:hover{
		fill: var(--base-color-bright-white);
	}
}