@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
html{
	background-color: var(--base-color-black);
	font-family: 'Roboto Condensed', sans-serif;
	-webkit-tap-highlight-color: var(--tab-color-highlight);
	-moz-tap-highlight-color: var(--tab-color-highlight);
	-ms-tap-highlight-color: var(--tab-color-highlight);
	-o-tap-highlight-color: var(--tab-color-highlight);
}
body{
	margin: 0;
}
body.preload *{
	transition: none !important;
	-webkit-transition: none !important;
	-moz-transition: none !important;
	-ms-transition: none !important;
	-o-transition: none !important;
}
main{
	box-sizing: border-box;
	background-color: var(--base-color-white);
}
nav{
	position: fixed;
	top: 0;
	height: 4em;
	width: 100vw;
	box-sizing: border-box;
	background-color: var(--base-color-black);
}
nav svg{
	height: 2em;
}
nav svg a{
	fill: var(--base-color-gray);
}
nav ul{
	list-style: none;
}
nav ul li a{
	display: block;
	text-decoration: none;
	color: var(--base-color-gray);
}
code{
	display: block;
	padding: 4em;
	border-radius: 0.25em;
	background-color: var(--base-color-white);
	white-space: pre-line;
}
footer{
	padding: 4em;
	color: var(--base-color-white);
	background-color: var(--base-color-black);
}
@media(max-width:768px){
	main{
		padding: 6em 2em 2em;
	}
	nav{
		text-align: center;
		transition: background-color 400ms;
	}
	nav.active{
		background-color: var(--base-color-bright-white);
	}
	nav svg{
		padding: 1em;
	}
	nav svg a{
		transition: fill 400ms;
		fill: var(--base-color-bright-white);
	}
	nav.active svg a{
		fill: var(--base-color-black);
	}
	nav ul{
		display: block;
		position: fixed;
		top: 4em;
		left: -100vw;
		width: 100vw;
		height: 100vh;
		margin: 0;
		padding: 0;
		background-color: var(--base-color-black);
		transition: left 400ms, background-color 400ms;
	}
	nav.active ul{
		left: 0;
		background-color: var(--base-color-bright-white);
	}
	nav ul li a{
		padding: 1.5em;
		color: var(--base-color-black);
	}
}
@media(min-width:769px){
	main{
		padding: 6em 4em 2em;
	}
	nav{
		padding: 0 6em;
	}
	nav svg{
		padding: 1em 2em;
	}
	nav svg a{
		transition: fill 250ms;
	}
	nav ul{
		float: right;
		height: 2em;
		margin: 0;
	}
	nav ul li{
		float: left;
	}
	nav ul li a{
		display: block;
		padding: 0 2em;
		text-decoration: none;
		line-height: 4em;
		transition: color 250ms;
	}
	nav a:hover{
		color: var(--base-color-bright-white);
	}
	nav svg a:hover{
		fill: var(--base-color-bright-white);
	}
}